.control-panel-light {
    background-color: #111827;
    border: 1px solid #1f2937;
    border-radius: 12px;
    padding: 20px;
    width: 400px;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
}


.control-panel-light label {
    color: #9ca3af;
    font-size: 14px;
}


.color-options button {
    width: 55px;
    height: 25px;
    border-radius: 6px;
    border: none;
    margin-right: 5px;
    cursor: pointer;
}


.warm {
    background: #fbbf24;
}


.neutral {
    background: #f3f4f6;
}


.cool {
    background: #93c5fd;
}


.pink {
    background: #f472b6;
}


.slider input[type="range"] {
    width: 100%;
    appearance: none;
    height: 6px;
    background: #374151;
    border-radius: 6px;
}


.slider input[type="range"]::-webkit-slider-thumb {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #60a5fa;
    cursor: pointer;
    -webkit-appearance: none;
}