.light-panel {
    background-color: #111827;
    border: 1px solid #1f2937;
    border-radius: 16px;
    padding: 24px;
    width: 420px;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 22px rgba(255,255,255,0.06);
}

.label {
    color: #e5e7eb;
    font-size: 16px;
}

.row-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* TOGGLE */
.toggle {
    width: 48px;
    height: 26px;
    background: #374151;
    border-radius: 50px;
    padding: 3px;
    cursor: pointer;
    transition: 0.2s;
    position: relative;
}

.toggle.on {
    background: #2563eb;
}

.toggle .circle {
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    transition: 0.2s;
    position: absolute;
    top: 3px;
    left: 3px;
}

.toggle.on .circle {
    left: 25px;
}

/* COLOR TEMPERATURE */
.temp-row {
    display: flex;
    gap: 12px;
    margin-top: 10px;
}

.temp-box {
    width: 70px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.temp-box.active {
    outline: 3px solid #2563eb;
}

.temp-box.dim {
    filter: brightness(40%);
}

/* Color designs */
.warm { background: #f6d79d; }
.neutral { background: #dce1e8; }
.cool { background: #8ec9e5; }
.pink { background: #e9a3b5; }

/* BRIGHTNESS */
.percent {
    color: #9ca3af;
    font-size: 16px;
}

.brightness-bar {
    position: relative;
    width: 100%;
    height: 12px;
    background: #1f2937;
    border-radius: 12px;
    margin-top: 10px;
    overflow: hidden;
}

/* .brightness-bar input[type="range"] {
    width: 100%;
    appearance: none;
    height: 8px;
    background: #374151;
    border-radius: 10px;
    margin-top: 10px;
} */
.brightness-bar input[type="range"] {
    position: absolute;
    top: -6px;
    left: 0;
    width: 100%;
    height: 24px;
    opacity: 0;
    cursor: pointer;
    z-index: 5;
}

.brightness-bar input[type="range"]::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #60a5fa;
    cursor: pointer;
    -webkit-appearance: none;
}
.brightness-bar input[type="range"]:disabled {
    /* cursor: not-allowed; */
    opacity: 0.2;
}

.brightness-bar input[type="range"]:disabled::-webkit-slider-thumb {
    background: #9ca3af;    /* dim gray knob */
    cursor: not-allowed;
    opacity: 0.6;
}

/* Blue fill part */
.bar-fill {
    position: absolute;
    height: 100%;
    background: linear-gradient(90deg, #3b82f6, #60a5fa);
    border-radius: 12px;
    transition: width 0.25s ease-in-out;
    z-index: 1;
}


/* INACTIVE COLOR BUTTON LOOK */
.inactive-color {
    filter: brightness(55%) saturate(60%);
    opacity: 0.6;
    outline: none !important;
    cursor: not-allowed;
}
